/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  @media */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body {
  min-width: 320px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 26px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: #bf1e2d;
}

/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.clearfix {
  content: '';
  display: block;
  line-height: 0;
  clear: both;
}

/* ------------------------------------------------------------ *	Header
\* ------------------------------------------------------------ */
.header {
  background: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 111;
  width: 100%;
}

.header .header-inner {
  width: 90%;
  margin: 0 auto;
}

.header .logo {
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .header .header-inner {
    width: 980px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *	Navigations
\* ------------------------------------------------------------ */
nav.menu {
  position: relative;
  background: #333;
}

nav.menu .toggle-nav {
  position: absolute;
  top: -57px;
  right: 1%;
}

nav.menu .toggle-nav .fa-bars:before {
  color: #bf1e2d;
}

nav.menu ul {
  display: none;
}

nav.menu ul li {
  padding: 10px 0;
  font-size: 15px;
}

nav.menu ul a {
  color: #fff;
  padding: 10px 0;
}

@media only screen and (min-width: 1024px) {
  nav.menu .toggle-nav {
    display: none;
  }
  nav.menu ul {
    display: block;
    position: absolute;
    top: -50px;
    left: 100px;
  }
  nav.menu ul li {
    display: inline-block;
    padding: 0 17px;
    font-size: 17px;
    background: none;
  }
  nav.menu ul li a {
    color: #fff;
    padding: 10px 10px;
  }
  nav.menu ul li a:hover {
    border-bottom: 1px solid #fff;
  }
}

/* ------------------------------------------------------------ *	Select-language
\* ------------------------------------------------------------ */
.select-lang {
  display: none;
  background: #bf1e2d;
  border-radius: 4px;
  width: 47px;
  padding: 2px 0;
}

.select-lang select {
  background: url("/css/images/polygon.png") no-repeat 80% 50%;
  color: #fff;
  font-size: 16px;
  text-indent: 10px;
  border: none;
  width: 47px;
  height: 30px;
}

@media only screen and (min-width: 1024px) {
  .select-lang {
    display: block;
    position: absolute;
    right: 0;
    top: -57px;
  }
}

/* ------------------------------------------------------------ *	Main
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *    Reservation-section
\* ------------------------------------------------------------ */
.reservation-section {
  background: #bf1e2d;
}

.reservation-section .main {
  background: url("/css/images/screen-1.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 850px;
  font-size: 15px;
  position: relative;
}

.reservation-section .main .main-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .reservation-section .main .main-inner {
    width: 980px;
  }
}

.reservation-section .main .reservation-form {
  width: 90%;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 24%;
  right: 0;
  left: 0;
  bottom: 21%;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .reservation-section .main .reservation-form {
    height: 300px;
    width: 600px;
  }
  .reservation-section .main .reservation-form .reservation-form-center {
    width: 540px;
    margin: 10px auto;
  }
}

/* ------------------------------------------------------------ *    Form
\* ------------------------------------------------------------ */
form {
  width: 267px;
  margin: 0 auto;
}

form label {
  color: #fff;
  display: block;
  padding: 20px 0 10px;
  font-weight: bold;
}

form input {
  width: 267px;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-indent: 17px;
  color: #a1a1a1;
  font-size: 14px;
}

form .select-center {
  width: 267px;
  margin: 0 auto;
}

form .select-center .select-wrapper {
  display: inline;
  position: relative;
}

form .select-center .select-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #a1a1a1;
  width: 2px;
  height: 39px;
  right: 45px;
  top: -8px;
}

form .select-center .select-wrapper select {
  width: 115px;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin-left: 4%;
  text-indent: 10px;
  color: #a1a1a1;
  font-size: 14px;
  background: url("/css/images/reservation-arrow.png") no-repeat 83% 50%;
  background-color: #fff;
}

@media only screen and (min-width: 1024px) {
  form {
    display: inline-block;
  }
  form .label-center {
    margin-left: 6%;
  }
  form .select-wrapper select {
    margin-left: 6%;
  }
}

/* ------------------------------------------------------------ *    Form-button
\* ------------------------------------------------------------ */
.reservation-button {
  width: 203px;
  margin: 0 auto;
}

.reservation-button button {
  width: 203px;
  height: 46px;
  border-radius: 4px;
  background: #bf1e2d;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px 0;
}

/* ------------------------------------------------------------ *    Reservation-section-footer
\* ------------------------------------------------------------ */
.reservation-section-footer {
  position: relative;
}

.reservation-section-footer:before {
  content: "";
  width: 100%;
  display: inline-block;
  border-top: 5px dotted #bf1e2d;
  position: absolute;
  top: -6px;
}

.reservation-section-footer .reservation-section-footer-center {
  padding: 20px 0;
  width: 330px;
  margin: 0 auto;
}

.reservation-section-footer .reservation-section-footer-center p {
  display: inline;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

.reservation-section-footer img {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

@media only screen and (min-width: 768px) {
  .reservation-section-footer .reservation-section-footer-center {
    width: 450px;
  }
  .reservation-section-footer .reservation-section-footer-center p {
    font-size: 48px;
  }
}

/* ------------------------------------------------------------ *    Content-section
\* ------------------------------------------------------------ */
.content-section {
  background: url("/css/images/background.png") repeat;
}

.content-section .main-content {
  padding: 30px 0;
}

.content-section .main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .content-section .main-content .main-content-inner {
    width: 980px;
  }
}

.content-section .main-content h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px dotted #bf1e2d;
}

@media only screen and (min-width: 768px) {
  .content-section .main-content h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Content-section-text
\* ------------------------------------------------------------ */
.text {
  padding: 40px 0;
  color: #000;
  font-size: 13px;
  line-height: 30px;
  word-wrap: break-word;
  word-break: break-all;
}

.text p {
  padding: 10px 0;
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .text {
    padding: 200px 0;
  }
}

/* ------------------------------------------------------------ *    Service-section
\* ------------------------------------------------------------ */
.service-section {
  background-color: #bf1e2d;
}

.service-section .upper-main-content {
  background: url("/css/images/background.png") repeat;
  padding-top: 30px;
  border-bottom: 4px dotted #bf1e2d;
}

.service-section .upper-main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .service-section .upper-main-content .main-content-inner {
    width: 980px;
  }
}

.service-section .main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .service-section .main-content .main-content-inner {
    width: 980px;
  }
}

.service-section h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .service-section h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Service-section-content
\* ------------------------------------------------------------ */
.content {
  color: #fff;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
}

.content div {
  padding: 20px 0;
}

.content div h2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 100px 0;
  }
  .content div {
    width: 50%;
    display: inline-block;
  }
  .content div h2 {
    font-size: 26px;
  }
  .content div p {
    width: 85%;
    margin: 0 auto;
  }
  .content div:nth-child(even) {
    float: right;
    overflow: hidden;
  }
  .content div:nth-child(even):after {
    clear: both;
    display: block;
    content: "";
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    padding: 200px 0;
  }
  .content div {
    width: 25%;
    padding: 0;
    float: left;
    overflow: hidden;
  }
  .content div:nth-child(even) {
    float: left;
    overflow: hidden;
  }
}

/* ------------------------------------------------------------ *    Content-section
\* ------------------------------------------------------------ */
.content-section {
  background: url("/css/images/background.png") repeat;
}

.content-section .main-content {
  padding: 30px 0;
}

.content-section .main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .content-section .main-content .main-content-inner {
    width: 980px;
  }
}

.content-section .main-content h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px dotted #bf1e2d;
}

@media only screen and (min-width: 768px) {
  .content-section .main-content h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Content-section-table
\* ------------------------------------------------------------ */
table {
  width: 100%;
  color: #a1a1a1;
  font-size: 10px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  table table {
    font-size: 13px;
  }
}

table thead {
  display: none;
}

table thead th {
  padding: 5px 0;
}

table tr {
  border: 1px solid #bf1e2d;
  display: block;
  margin-bottom: 10px;
}

table tr td {
  padding: 5px 0;
  display: block;
  text-align: right;
  font-weight: bold;
  padding: 5px 10px;
}

table tr td.title {
  font-weight: bold;
  background: #f8e6e8;
  text-align: center;
  color: #000;
}

table tr td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .table {
    padding: 200px 0;
  }
  .table table {
    border: 1px solid #bf1e2d;
    font-size: 16px;
  }
  .table table thead {
    display: table-header-group;
    color: #fff;
    font-size: 18px;
  }
  .table table thead th {
    text-align: left;
    background: #bf1e2d;
  }
  .table table tr {
    display: table-row;
    border: none;
  }
  .table table tr td {
    display: table-cell;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    color: #404040;
    font-weight: none;
  }
  .table table tr td.title {
    background: none;
    text-align: left;
    text-indent: 10px;
    color: #404040;
    font-weight: none;
  }
  .table table tr td::before {
    display: none;
  }
  .table table tr td:hover {
    color: #000;
  }
  .table table tr:nth-child(2n+1) {
    background: #f8e6e8;
  }
}

/* ------------------------------------------------------------ *    Option-section
\* ------------------------------------------------------------ */
.option-section {
  color: #000;
  border-top: 4px dotted #bf1e2d;
}

.option-section .main-content {
  padding: 30px 0;
}

.option-section .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .option-section {
    border-top: none;
  }
  .option-section .main-content {
    padding: 200px 0;
  }
  .option-section .main-content .main-content-inner {
    width: 980px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *    Option-section-accordion
\* ------------------------------------------------------------ */
.accordion {
  width: 300px;
  margin: 0 auto;
}

.accordion h3 {
  font-size: 16;
  font-weight: bold;
  padding: 20px 0;
  color: #bf1e2d;
  text-align: center;
}

.accordion .accordion-section-title {
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 13px;
  padding: 15px 0;
  word-break: break-all;
}

.accordion .accordion-section-title::before {
  content: url("/css/images/arrow-down.png");
  display: inline;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.accordion .accordion-section-content {
  display: none;
  font-size: 13px;
  word-break: break-all;
  color: #333;
  width: 100%;
  line-height: 16px;
}

.accordion .active {
  color: #bf1e2d;
}

.accordion .accordion-section-title.active::before {
  content: url("/css/images/arrow-up.png");
  display: inline;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
  .accordion {
    width: 33%;
    float: left;
    padding: 0 15px;
  }
  .accordion h3 {
    font-size: 23px;
  }
  .accordion:last-child {
    float: right;
  }
  .accordion ::after {
    clear: both;
    display: block;
    content: "";
  }
}

/* ------------------------------------------------------------ *    Footer
\* ------------------------------------------------------------ */
footer {
  background-color: #333;
}

footer .footer-inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

@media only screen and (min-width: 1024px) {
  footer .footer-inner {
    width: 980px;
  }
  footer .footer-inner .footer-image-center {
    width: 527px;
    float: right;
  }
}

/* ------------------------------------------------------------ *	Footer-contact
\* ------------------------------------------------------------ */
.contact {
  width: 300px;
  margin: 0 auto;
  display: none;
}

.contact p {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

.contact p:before {
  content: url("/css/images/phone.png");
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
}

@media only screen and (min-width: 1024px) {
  .contact {
    display: inline-block;
  }
}

/* ------------------------------------------------------------ *  Footer-clients
\* ------------------------------------------------------------ */
.clients {
  width: 251px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .clients {
    margin-right: 20px;
    display: inline-block;
  }
}

/* ------------------------------------------------------------ *	Footer-payments
\* ------------------------------------------------------------ */
.payments {
  width: 251px;
  margin: 20px auto;
}

.payments ul li {
  display: inline-block;
}

.payments ul li img {
  width: 93px;
  height: 36px;
}

.payments ul li img.round-border {
  border-radius: 6px;
  width: 58px;
}

.payments ul li img.image-center {
  width: 58px;
  height: 36px;
  margin-bottom: 22px;
  margin-left: 2px;
}

@media only screen and (min-width: 1024px) {
  .payments {
    display: inline-block;
    vertical-align: middle;
  }
}

/* ------------------------------------------------------------ *    Footer-text
\* ------------------------------------------------------------ */
.cr-text {
  color: #a1a1a1;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .cr-text {
    text-align: left;
    display: inline-block;
    padding-top: 30px;
  }
}

/* ------------------------------------------------------------ *	Footer-payments
\* ------------------------------------------------------------ */
.social {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

.social a {
  color: #a1a1a1;
}

.social a:after {
  content: url("/css/images/fb.png");
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

@media only screen and (min-width: 1024px) {
  .social {
    padding-top: 23px;
    float: right;
  }
}

/*# sourceMappingURL=.maps/style.css.map */
