/* ------------------------------------------------------------ *\
    Choose-car
\* ------------------------------------------------------------ */

.choose-car {
    border: 1px solid $red;
    border-radius: 4px;
    background: $white;
    padding: 35px 30px;
    position: relative;
    margin: 27px 0;
    & p {
        font-size: 13px;
        padding: 7px 0;
        & span {
            font-size: 15px;
            padding-left: 30px;
        }
    }
    & .choose {
        position: absolute;
        bottom: 25px;
        right: 35px;
        color: $white;
        text-transform: uppercase;
        background: $red;
        width: 155px;
        height: 40px;
        border: 1px solid $red;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 20px;
    }
    & .chosen {
        background-color: $dark;
        color: $white;
    }
}

@media #{$smartphone} {
    .choose-car p {
        font-size: 15px;
        & span {
            font-size: 20px;
        }
    }
    .choose-car input {
        font-size: 23px;
        bottom: 35px;
    }
}