/* ------------------------------------------------------------ *\
    Option-section
\* ------------------------------------------------------------ */

.option-section {
    color: $black;
    border-top: 4px dotted $red;
    & .main-content {
        padding: 30px 0;
    }
    & .main-content-inner {
        width: 90%;
        margin: 0 auto;
    }
}

@media #{$desktop} {
    .option-section {
        border-top: none;
        & .main-content {
            padding-top: 200px;
        }
        & .main-content-inner {
            width: 980px;
        }
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }
}