/* ------------------------------------------------------------ *\
    Option-section-accordion
\* ------------------------------------------------------------ */

.accordion {
    width: 300px;
    margin: 0 auto;
    & h3 {
        font-size: 16;
        font-weight: $font-weight-2;
        padding: 20px 0;
        color: $red;
        text-align: center;
    }
    & .accordion-section-title {
        cursor: pointer;
        display: inline-flex;
        font-weight: $font-weight-2;
        font-size: $font-size-13;
        padding: 15px 0;
        word-break: break-all;
        &::before {
            content: url("/eli/css/images/arrow-down.png");
            display: inline;
            vertical-align: -webkit-baseline-middle;
            margin-right: 10px;
        }
    }
    & .accordion-section-content {
        display: none;
        font-size: $font-size-13;
        word-break: break-all;
        color: $dark;
        width: 85%;
        margin: 0 auto;
        line-height: 16px;
    }
    & .active {
        color: $red;
    }
    & .accordion-section-title.active::before {
        content: url("/eli/css/images/arrow-up.png");
        display: inline;
        vertical-align: -webkit-baseline-middle;
        margin-right: 10px;
    }
}

@media #{$desktop} {
    .accordion {
        width: 33%;
        float: left;
        padding: 0 15px;
        & h3 {
            font-size: $font-size-23;
        }
        &:last-child {
            float: right;
        }
        & ::after {
            clear: both;
            display: block;
            content: "";
        }
    }
}