/* ------------------------------------------------------------ *\
    Service-section
\* ------------------------------------------------------------ */

.service-section {
    background-color: $red;
    margin-top: -1px;
    & .upper-main-content {
        background: url("/eli/css/images/background.png") repeat;
        padding-top: 30px;
        border-bottom: 4px dotted $red;
        & .main-content-inner {
            width: 90%;
            margin: 0 auto;
        }
        @media #{$desktop} {
            .main-content-inner {
                width: 980px;
            }
        }
    }
}

.main-content .main-content-inner {
    width: 90%;
    margin: 0 auto;
    @media #{$desktop} {
        width: 980px;
    }
}

h1 {
    font-size: 20px;
    font-weight: $font-weight-2;
    font-family: $font-family-1;
    color: $red;
    text-align: center;
    padding-bottom: 20px;
    @media #{$tablet} {
        font-size: $font-size-30;
    }
}