/* ------------------------------------------------------------ *\
    Car-selection
\* ------------------------------------------------------------ */

.car-selection {
    margin: 0 auto;
    width: 90%;
}

@media #{$desktop} {
    .car-selection {
        float: left;
        width: 40%;
    }
}