/* ------------------------------------------------------------ *\
    Parking-service-section
\* ------------------------------------------------------------ */

.parking-service-section {
    background: yellow;
    & .main-content-inner {
        & p {
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            color: $red;
            text-align: center;
        }
    }
}