/* ------------------------------------------------------------ *\
    Input-block
\* ------------------------------------------------------------ */

.input-block {
    display: block;
    width: 95%;
    height: 40px;
    font-size: 13px;
    color: $gray;
    margin: 15px 0;
    border: 1px solid $gray;
    text-indent: 15px;
}

@media #{$smartphone} {
    .input-block {
        font-size: 16px;
    }
}