/* ------------------------------------------------------------ *\
    Reservation-section
\* ------------------------------------------------------------ */

.reservation-section {
    background: $red;
    & .main {
        background-image: url(/eli/css/images/screen-1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 600px;
        height: 100%;
        font-size: 15px;
        overflow: hidden;
        @media #{$tablet} {
            max-height: 80%;
        }
        @media #{$desktop} {
            max-height: 70%;
        }
    }
    & .reservation-section-form {
        width: 90%;
        background: rgba(0, 0, 0, 0.55);
        margin: 50% auto;
        @media #{$tablet} {
            width: 600px;
        }
        @media #{$desktop} {
            margin: 15% auto;
        }
    }
}