/* ------------------------------------------------------------ *\
    Fieldset
\* ------------------------------------------------------------ */

fieldset {
    display: inline-block;
    & .fieldset-block {
        display: block;
        width: 100%;
        height: 40px;
        margin: 10px 0;
        border: 1px solid $gray;
    }
    &.right {
        margin-left: 2%;
    }
}