/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

.input-inline {
    width: 267px;
    margin: 0 auto;
    & label {
        color: $white;
        display: block;
        padding: 5px 0 5px;
        font-weight: $font-weight-2;
        @media #{$tablet} {
            padding: 30px 0 10px;
        }
    }
    & input {
        width: 267px;
        height: 35px;
        border-radius: 4px;
        border: none;
        text-indent: 17px;
        color: $gray;
        font-size: 14px;
    }
}

.select-center {
    width: 267px;
    margin: 0 auto;
    & .select-wrapper {
        display: inline;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            border-left: 1px solid $gray;
            width: 2px;
            height: 35px;
            right: 45px;
            top: -7px;
        }
        & select {
            width: 115px;
            height: 35px;
            border-radius: 4px;
            border: none;
            margin-left: 4%;
            text-indent: 10px;
            color: $gray;
            font-size: 14px;
            background: url("/eli/css/images/reservation-arrow.png") no-repeat 83% 50%;
            background-color: $white;
        }
    }
}

@media #{$tablet} {
    .input-inline {
        display: inline-block;
        margin-left: 30px;
        margin-right: -20px;
        & .label-center {
            margin-left: 5%;
        }
    }
}