/* ------------------------------------------------------------ *\
    Reservation-section-footer
\* ------------------------------------------------------------ */

.reservation-section-footer {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        display: inline-block;
        border-top: 5px dotted $red;
        position: absolute;
        top: -6px;
    }
    & .reservation-section-footer-center {
        padding: 20px 0;
        width: 330px;
        margin: 0 auto;
        & .reservation-footer-text {
            display: inline;
            font-size: $font-size-26;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            padding: 15px 0;
        }
        & img {
            width: 60px;
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
    }
}

.scroll-down {
    display: none;
    margin: 0 auto;
    width: 75px;
    & .scroll {
        font-size: 0;
        color: $white;
        position: relative;
        display: inline-block;
        height: 50px;
        &:after {
            border-right: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -40px;
            right: 0;
            left: 30px;
            // -webkit-animation: 5s arrow infinite ease;
            // animation: 5s arrow infinite ease;
        }
    }
}

@-webkit-keyframes arrow {
    0%,
    100% {
        top: 5px;
    }
    50% {
        top: 15px;
    }
}

@keyframes arrow {
    0%,
    100% {
        top: 5px;
    }
    50% {
        top: 15px;
    }
}

@media #{$desktop} {
    .reservation-section-footer {
        .reservation-section-footer-center {
            width: 450px;
            & .reservation-footer-text {
                font-size: 44px;
            }
        }
        & .scroll-down {
            display: block;
        }
    }
}

@media only screen and (max-width: 1920px) {
    .scroll-down .scroll:after {
        top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .scroll-down .scroll:after {
        top: -40px;
    }
}