/* ------------------------------------------------------------ *\
	Select-language
\* ------------------------------------------------------------ */

.select-lang {
    display: none;
    background: $red;
    border-radius: 4px;
    width: 47px;
    padding: 2px 0;
    margin-left: 10px;
    margin-top: 10px;
    & select {
        background: url("/eli/css/images/polygon.png") no-repeat 80% 50%;
        color: $white;
        font-size: 16px;
        text-indent: 3px;
        border: none;
        width: 47px;
        padding: 6px;
    }
}

@media #{$desktop} {
    .select-lang {
        display: block;
        position: absolute;
        right: 0;
        top: -57px;
    }
}