/* ------------------------------------------------------------ *\
    User-address-form
\* ------------------------------------------------------------ */

@media #{$desktop} {
    .user-address-form {
        width: 60%;
        float: left;
        & label {
            font-size: 18px;
        }
    }
}