/* ------------------------------------------------------------ *\
  Footer-clients
\* ------------------------------------------------------------ */

.clients {
    width: 200px;
    margin: 0 auto;
}

@media #{$desktop} {
    .clients {
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
    }
}