/* ------------------------------------------------------------ *\
    Reservation-section
\* ------------------------------------------------------------ */

.reservation-section {
    background: $red;
    position: relative;
    & .main {
        background-image: url("/eli/css/images/screen-1.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 650px;
        height: 82%;
        font-size: 15px;
        position: relative;
        overflow: hidden;
    }
}

form {
    width: 90%;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media #{$tablet} {
        width: 600px;
    }
}