/* ------------------------------------------------------------ *\
    Content-section-table
\* ------------------------------------------------------------ */

.table {
    width: 100%;
    color: $black;
    text-transform: uppercase;
    border: 1px solid $red;
    font-size: 14px;
    & table.left,
    & table.right {
        width: 100%;
        border-collapse: initial;
        & thead {
            display: table-header-group;
            color: $white;
            font-size: 15px;
            background: $red;
            outline: 1px solid $red;
            & th {
                padding: 10px 0;
            }
        }
        & tbody {
            & tr {
                & td {
                    width: 150px;
                    padding: 10px 0;
                    text-align: center;
                    background: #f8f8f8;
                    border: 1px solid $white;
                    &.title {
                        background: #f8e6e8;
                    }
                }
            }
            & :hover {
                font-weight: $font-weight-2;
            }
        }
    }
    & table.right {
        & thead {
            display: none;
        }
    }
}

@media #{$tablet} {
    .table {
        font-size: 16px;
        & table.left,
        & table.right {
            width: 50%;
            float: left;
            & tbody {
                & tr {
                    & td {
                        width: 170px;
                    }
                }
            }
        }
        & table.right {
            & thead {
                display: table-header-group;
            }
        }
    }
    & .table:after {
        clear: both;
        content: "";
        display: block;
    }
}

@media #{$desktop} {
    .table {
        width: 980px;
        // margin: 100px 0 0;
    }
}