/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

form {
    width: 267px;
    margin: 0 auto;
    & label {
        color: $white;
        display: block;
        padding: 20px 0 10px;
        font-weight: $font-weight-2;
    }
    & input {
        width: 267px;
        height: 40px;
        border-radius: 4px;
        border: none;
        text-indent: 17px;
        color: $gray;
        font-size: 14px;
    }
    & .select-center {
        width: 267px;
        margin: 0 auto;
        & .select-wrapper {
            display: inline;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-left: 1px solid $gray;
                width: 2px;
                height: 39px;
                right: 45px;
                top: -11px;
            }
            & select {
                width: 115px;
                height: 40px;
                border-radius: 4px;
                border: none;
                margin-left: 4%;
                text-indent: 10px;
                color: $gray;
                font-size: 14px;
                background: url("/css/images/reservation-arrow.png") no-repeat 83% 50%;
                background-color: $white;
            }
        }
    }
}

@media #{$desktop} {
    form {
        display: inline-block;
        & .label-center {
            margin-left: 6%;
        }
        & .select-wrapper select {
            margin-left: 6%;
        }
    }
}