/* ------------------------------------------------------------ *\
	Footer-payments
\* ------------------------------------------------------------ */

.social {
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    & a {
        color: $gray;
        &:after {
            content: url("/eli/css/images/fb.png");
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
        }
    }
}

@media #{$desktop} {
    .social {
        padding-top: 23px;
        float: right;
    }
}