/* ------------------------------------------------------------ *\
    Reservation-section-footer
\* ------------------------------------------------------------ */

.reservation-section-footer {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        display: inline-block;
        border-top: 5px dotted $red;
        position: absolute;
        top: -6px;
    }
    & .reservation-section-footer-center {
        padding: 20px 0;
        width: 330px;
        margin: 0 auto;
        & p {
            display: inline;
            font-size: $font-size-26;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            padding: 15px 0;
        }
    }
    & img {
        width: 60px;
        height: 60px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
}

@media #{$tablet} {
    .reservation-section-footer {
        .reservation-section-footer-center {
            width: 450px;
            & p {
                font-size: 48px;
            }
        }
    }
}