/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
    background: rgba(0, 0, 0, 0.55);
    // position: fixed;
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 111;
    width: 100%;
    & .header-inner {
        width: 90%;
        margin: 0 auto;
    }
    & .logo {
        display: inline-block;
    }
}

@media #{$desktop} {
    .header .header-inner {
        width: 980px;
        margin: 0 auto;
    }
}