/* ------------------------------------------------------------ *\
  Tooltip
\* ------------------------------------------------------------ */

.tooltip {
    & img {
        position: absolute;
        top: 6px;
        right: 10px;
    }
    & span {
        width: 267px;
        height: 49px;
        font-size: 12px;
        background: #e1e1e1;
        border-radius: 4px;
        visibility: hidden;
        padding: 5px;
        position: absolute;
        top: -49px;
        right: 0;
    }
    &:hover span {
        visibility: visible;
    }
}

@media #{$desktop} {
    .tooltip img {
        top: 10px;
    }
}