/* ------------------------------------------------------------ *\
    Content-section-text
\* ------------------------------------------------------------ */

.text {
    padding: 40px 0;
    color: $black;
    font-size: $font-size-13;
    line-height: 30px;
    word-wrap: break-word;
    word-break: break-all;
    & p {
        padding: 10px 0;
    }
}

@media #{$tablet} {
    .text {
        font-size: 16px;
    }
}

@media #{$desktop} {
    .text {
        padding: 200px 0;
    }
}