/* ------------------------------------------------------------ *\
  Private-parking
\* ------------------------------------------------------------ */
.private-parking{
  background: $white;
  width: 267px;
  margin: 0 auto;
  padding: 30px 5px;
  border-radius: 4px;
  position: relative;
  & figure{
    display: inline-block;
  }
  & .parking-inner{
    float: right;
    text-align: center;
    color: $black;
    & h2{
      font-size: 16px;
      padding-bottom: 10px;
      color: $black;
    }
    & .currency{
      text-transform: uppercase;
      font-size: 26px;
      padding-top: 10px;
    }
  }
  &:before{
    content: url("/css/images/info-black.png");
    position: absolute;
    top: 5px;
    right: 10px;
   }
}
@media #{$smartphone}{
  .private-parking{
    width: 350px;
    padding: 30px;
  }
}

@media #{$desktop}{
  .private-parking{
    margin: 0;
  }
}