/* ------------------------------------------------------------ *\
    User-section
\* ------------------------------------------------------------ */

.user-section {
    background: url("/css/images/background.png") repeat;
    & .user-section-inner {
        background: $red url("/css/images/User_profile.jpg") no-repeat top;
        width: 100%;
        height: 140px;
        position: relative;
    }
    & .reservation-section-footer {
        background: $red;
    }
}